# Training data and checkpoints
**/data_train/*.npy

# Model files
**/model/*.pth

# Tensorboard logs
**/runs/events*

# Python cache files
**/__pycache__/
*.py[cod]
*$py.class

# macOS system files
.DS_Store
**/.DS_Store

# IDE settings
.vscode/
.idea/
.idea

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/
